@media (max-width: 1024px) {
    .header {

        &__container {
            height: 768px;
        }
    
        &__menu {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__banner {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__title {
            font-size: 48px;
            line-height: 56px;
            margin-top: 158px;
        }
    
        &__subtitle {
            font-size: 18px;
            line-height: 21px;
            margin-top: 62px;
        }
    
        &__button {
            width: 313px;
            padding: 24.7px 0;
            margin: 91.5px auto 0 auto;
        }
    }
    .menu {

        &__logo {
            width: 230px;     
        }

        &__list {
            width: 566px;
        }
    
        &__link {
            font-size: 12px;
            line-height: 14px;
            padding: 6.5px 0;
        }
        &__link:hover::after {
            width: 119px;
        }
        &__link:active::after {
            width: 119px;
        }
    }
    .about {

        &__container {
            padding: 0 20px;
            margin: 0 auto;
        }
        &__content {
            height: 524px;
            margin: 79px 0;
        }
        &__img {
            height: 85px;
            width: 85px;
            display: block;
            margin: 0 auto 23px auto;
        }
    
        &__title {
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            line-height: 21px;
            padding: 20px 0;
            margin-bottom: 4px;
        }
    
        &__text {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            line-height: 16.5px;
        }
    }
    .content {
    
        &__column {
            flex: 0 0 calc((100% - 40px) / 3);  
        }
    
        &__column:nth-child(1),
        &__column:nth-child(2),
        &__column:nth-child(3) {
            margin-bottom: 50px;
        }
    }
    .work {

        &__container {
            max-width: 1024px;
            margin: 0 auto;
        }

        &__body {
            height: 460px;
        }
    }
    .workers {

        &__container {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__body {
            height: 521px;
            margin: 79px auto;
        }
    
        &__column {
            flex: 0 0 calc((100% - 75px) / 4);
        }
    
        &__avatar {
            margin-bottom: 25px;
        }
    
        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 4.6px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 22.45px;
        }
    
        &__text {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 39px;
            margin-right: 25px;
        }
    
        &__icon {
            width: 32.8px;
            height: 32.8px;
            margin-right: 5px;
        }
    }
    .download {

        &__container {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__body {
            height: 204px;
            margin: 78px auto;
        }
    
        &__title {
            font-size: 24px;
            line-height: 28px;
            padding: 16px 0;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 45px;
        }
    
        &__button {
            width: 313px;
            font-size: 18px;
            line-height: 21px;
            padding: 28px 0;
        }
    }
    .footer {

        &__body {
            max-width: 1024px;
            padding: 0 20px;
            height: 169px;
        }
    
        &__column {
            margin-top: 46.6px;
        }
    
        &__title {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 18px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
        }
            
        &__icon {
            width: 33px;
            height: 33px;
            margin: 14.5px 23px 0 0;
            }
    
        &__section {
            height: 60px;
            padding: 14px 0;
        }
    
        &__text {
            font-size: 14px;
            line-height: 16.44px;
        }
    } 
}

@media (max-width: 768px) {
    .header {

        &__container {
            height: 574px;
        }
    
        &__menu {
            height: 56px;
        }
    
        &__banner {
        }
    
        &__title {
            font-size: 36px;
            line-height: 42px;
            margin-top: 106px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-top: 33px;
        }
    
        &__button {
            width: 279px;
            padding: 15px 0;
            margin: 51px auto 0 auto;
        }
    }
    .menu {

        &__logo {
            width: 130px;     
        }

        &__button-container{
            display: flex;
        }

        &__list {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 56px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #menu__burger ~ .menu__list li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu__burger:checked ~ .menu__list li {
            border: 1px solid red;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &__list > li {
            display: flex;
            justify-content: start;
            margin-left: 20px;
            width: 100%;
        }

        &__link {
            font-size: 13px;
            line-height: 15px;
            padding: 24px 0;
        }
        
    }
}