@media (max-width: 1024px) {
    .header {

        &__container {
            height: 768px;
        }
    
        &__menu {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__banner {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__title {
            font-size: 48px;
            line-height: 56px;
            margin-top: 158px;
        }
    
        &__subtitle {
            font-size: 18px;
            line-height: 21px;
            margin-top: 62px;
        }
    
        &__button {
            width: 313px;
            padding: 24.7px 0;
            margin: 91.5px auto 0 auto;
        }
    }
    .menu {

        &__logo {
            width: 230px;     
        }

        &__list {
            width: 566px;
        }
    
        &__link {
            font-size: 12px;
            line-height: 14px;
            padding: 6.5px 0;
        }
        &__link:hover::after {
            width: 119px;
        }
        &__link:active::after {
            width: 119px;
        }
    }
    .about {

        &__container {
            padding: 0 20px;
        }
        &__content {
            height: 524px;
            margin: 80px auto;
        }
        &__img {
            height: 85px;
            width: 85px;
            display: block;
            margin: 0 auto 24.5px auto;
        }
    
        &__title {
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            line-height: 21px;
            padding: 20px 0;
            margin-bottom: 4px;
        }
    
        &__text {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            line-height: 16.5px;
        }
    }
    .content {
    
        &__column {
            flex: 0 0 calc((100% - 40px) / 3);  
        }
    
        &__column:nth-child(1),
        &__column:nth-child(2),
        &__column:nth-child(3) {
            margin-bottom: 50px;
        }
    }
    .work {

        &__container {
            max-width: 1024px;
            margin: 0 auto;
        }

        &__body {
            height: 460px;
        }
    }
    .inner {

        &__title {
            font-size: 18px;
            line-height: 21px;
            padding: 10px 0;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-top: 12px;
        }
    }
    .workers {

        &__container {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__body {
            height: 521px;
            margin: 79px auto;
        }
    
        &__column {
            flex: 0 0 calc((100% - 75px) / 4);
        }
    
        &__avatar {
            margin-bottom: 25px;
        }
    
        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 4.6px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 22.45px;
        }
    
        &__text {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 39px;
            margin-right: 25px;
        }
    
        &__icon {
            width: 32.8px;
            height: 32.8px;
            margin-right: 5px;
        }
    }

    .swiper{
        max-width: 1024px;
        height: 365px;
    }
   
    .swiper-slide img{
        height: 332px;
    }
   
    .swiper-pagination-bullet{
        width: 9.5px;
        height: 9.5px;
    }
   
    .download {

        &__container {
            max-width: 1024px;
            padding: 0 20px;
        }
    
        &__body {
            height: 204px;
            margin: 78px auto;
        }
    
        &__title {
            font-size: 24px;
            line-height: 28px;
            padding: 16px 0;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 45px;
        }
    
        &__button {
            width: 313px;
            font-size: 18px;
            line-height: 21px;
            padding: 28px 0;
        }
    }
    .footer {

        &__body {
            max-width: 1024px;
            padding: 0 20px;
            height: 169px;
        }
    
        &__column {
            margin-top: 46.6px;
        }
    
        &__title {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 18px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
        }
            
        &__icon {
            width: 33px;
            height: 33px;
            margin: 14.5px 23px 0 0;
            }
    
        &__section {
            height: 60px;
            padding: 14px 0;
        }
    
        &__text {
            font-size: 14px;
            line-height: 16.44px;
        }
    } 
}

@media (max-width: 768px) {
    .header {

        &__container {
            height: 574px;
        }
    
        &__menu {
            height: 56px;
        }

        &__burger {
            display: block;
            width: 24px;
            height: 18px;
            position: relative;
            z-index: 3;
        }

        &__burger span {
            background: #fff;
            position: absolute;
            width: 24px;
            height: 3px;
            left: 0;
            top: 8px;
        }
        &__burger::before,
        &__burger::after{
            content: '';
            background: #fff;
            position: absolute;
            width: 24px;
            height: 3px;
            left: 0;    
        }
        &__burger::before {
            top: 0;
        }
        &__burger::after{
            bottom: 0;
        }
        &__burger.active span {
            transform: scale(0);
        }
        &__burger.active::before {
            transform: rotate(45deg);
            top: 8px
        }
        &__burger.active::after {
            transform: rotate(-45deg);
            bottom: 8px;
        }

        &__banner {
           
        }
    
        &__title {
            font-size: 36px;
            line-height: 42px;
            margin-top: 106px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-top: 33px;
        }
    
        &__button {
            width: 279px;
            padding: 15px 0;
            margin: 51px auto 0 auto;
        }
    }
    .menu {

        &__logo {
            width: 130px;     
        }

        &__list {
            top: -100%;
            display: block;
            position: absolute;
            margin-top: 84px;
        }

        &__list > li {
            padding: 24px 0;
        }

        &__list.active{
            top: 0;    
         }

        &__link {
            font-size: 13px;
            line-height: 15px;
        } 
    }

    .about {

		&__container {
            
		}

		&__content {
            height: 1542px;
            margin: 40px auto 34px auto;
            display: block;
		}

		&__img {
            height: 75px;
            width: 75px;
            display: block;
            margin: 0 auto 22px auto;
		}

		&__title {
            font-size: 18px;
            line-height: 21px;
            padding: 12px 0;
            margin-bottom: 0;
		}

		&__text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 41px;
		}
    }
    .content {

        &__column:nth-child(1),
        &__column:nth-child(2),
        &__column:nth-child(3) {
            margin-bottom: 0;
        }
    }
    .work {

        &__container {
            margin: 35px auto;
        }

		&__pictures {
            grid-template-rows: 25% 25% 25% 25%;
            grid-template-columns: 50% 50%;
		}
    }

    .inner {

		&__title {
            font-size: 18px;
            line-height: 21px;
            padding: 2px 0;
		}

		&__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-top: 5px;
		}
    }

    .workers {

		&__body {
            height: 2252px;
            margin: 0 auto 41px auto;
            display: block;
		}

		&__avatar {
            margin-bottom: 25px;
		}

		&__title {
            font-size: 18px;
            line-height: 21px;
		}

		&__subtitle {
            font-size: 14px;
            line-height: 16.44px;
            margin-bottom: 32px;
		}

		&__text {
            font-size: 14px;
            line-height: 16.44px;
            margin: 0 auto 55px auto;
		}

		&__icon {
            width: 39px;
            height: 39px;
            margin-bottom: 49px;
		}
    }
    .swiper {
    }
    .swiper-wrapper {
    }
    .swiper-slide {
    }
    .slide-image {
    }
    .swiper-pagination {
    }
    
    .download {

		&__container {
            margin: 34px auto 45px auto;
		}

		&__body {
            height: 204px;
		}

		&__title {
            font-size: 18px;
            line-height: 21px;
            padding: 19px 0;
            margin-bottom: 3px;
		}

		&__subtitle {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 13px;
		}

		&__button {
            width: 279px;
            font-size: 18px;
            line-height: 21px;
            padding: 29px 0;
		}
    }
    .footer {

		&__container {
		}

		&__body {
            height: 450px;
            display: block;
            padding: 34px 0;
		}
        &__column {
            margin: 0 auto 64px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__column:nth-child(1){
            height: 66px;
        }
        &__column:nth-child(2){
            height: 85px;
        }
        &__column:nth-child(3){
            height: 102px;
        }

		&__title {
            font-size: 14px;
            line-height: 16.44px;
		}

		&__subtitle {
            font-size: 14px;
            line-height: 16.44px;
		}

		&__icon {
            width: 33px;
            height: 33px;
		}

		&__section {
            height: 90px;
            padding: 28px 0;
		}

		&__text {
            font-size: 14px;
            line-height: 16.44px;
		}
    }
}