.work {

    &__container {
       width: 100%;
        margin: 0 auto;
    }

    &__body {
        max-width: 1510px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 25% 25% 25% 25% ;
    }

    &__img { 
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    /*&__img:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background:  url('../img/Rectangle\ 17.png');
        opacity: 0;
    }*/
  
}