
.work {

    &__container {
        width: 100%;
        margin: 0 auto;
    }

    &__pictures {
        max-width: 1510px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 25% 25% 25% 25% ;
    }

    &__img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.picture {

    &__item {
        position: relative;
    }
}
.item {

    &__inner {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
    }
}
.inner {

    &__title {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        padding: 16px 0;
        color: #fff;
    }

    &__subtitle {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 21px;
        margin-top: 20px;
        color: #fff;
    }
}

img:hover~.item__inner{
    display: flex;
    background:rgba(255, 67, 67, 0.8);
}
img:active~.item__inner{
    display: flex;
    background: rgba(185, 12, 12, 0.8);
}
